body{
    background-image: url(img/fondo.png);
    background-attachment: fixed;
}

#parrafo{
    font-size: 18px;
    font-family: 'Architects Daughter', cursive;
    color: rgb(42, 54, 230);
    

}

footer{
    background-color: gray;
    font-family: 'Tangerine';
    font-size: 25px;
    color: white;
    text-align:right;
}